<ul class="list-group">
		  
  <li class="list-group-item">
    <%= @todo.description %>
    <%= link_to 'Destroy', @todo, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>
  </li>
</ul>

<%#= link_to 'Destroy', student, class:'btn btn-danger', method: :delete, data: { confirm: 'Are you sure?' } %>